/*****************
*************** 
  MY CSS by Hamid Berkaine Alias Idurar & Co
************
***********/

header {
   margin-bottom: 30px;
}

/******* BANNER IN ALL PAGE ******/

.banner-home figure img {
   width: 100%;
}

.banner-home figure {
   margin: 0;
}
 
/******* END BANNER IN ALL PAGE ******/

/******* NAVBAR IN ALL PAGE ******/

.link-navbar {
   display: flex;
   justify-content: space-around;
}
 
li {
   list-style: none;
}
 
li a {
   text-decoration: none;
   color: #000000b2;
}
 
li a:hover {
   text-decoration: underline;
}

/******* END NAVBAR IN ALL PAGE ******/

/******* PRESENTATION IN INDEX PAGE ******/

.presentation  {
   display: flex;
   justify-content: space-between;
   background-color: #F2F2F2;
   margin-top: 50px;
   margin-bottom: 30px;
}
 
.block-left {
   padding: 30px;
}
 
.title-preview {
   color: #000000b2;
   text-align: center;
   width: 100%;
   background-color: #F2F2F2;
   padding-top: 20px;
   margin-bottom: 0;
}
 
button {
   background-color: #000000b2;
   min-width: 150px;
   border-radius: 3px;
   padding: 10px;
}
button a {
   text-decoration: none;
   font-weight: bold;
   color: #fff;
   padding: 10px;
}
 
.block-right > img {
   border-radius: 5px;
}

/******* END PRESENTATION IN INDEX PAGE ******/

/******* IMAGES GALERY IN HOMEPAGE ******/

.home-galery {
   display: flex;
   justify-content: space-between;
   background-color: #F2F2F2;
   padding-top: 30px;
   padding-bottom: 40px;
   width: 100%;
}
 
.card-descript {
   background-color: #fff;
   padding: 10px;
   height: 100px;
}
 
.card-descript a {
   text-decoration: none;
   color:#000000b2
}
 
.card-descript a:hover {
   text-decoration: underline;
}

/******* END IMAGES GALERY IN HOMEPAGE ******/

/******* FOOTER IN HOMEPAGE ******/

footer {
   display: flex;
   background-color: #fff;
   margin-top: 50px;
}
 
.logo-footer {
   margin: 25px;
}
 
.link-footer {
   display: flex;
   margin: 0 auto;
   width: 420px;
}
 
.links {
   padding: 10px;
   margin: 25px;
}
 
.links a {
   color: #000000b2;
}

/******* END FOOTER IN HOMEPAGE ******/
